:root{
    font-size: 62.5%; /* базовый размер шрифта в rem. 16px * 0,625 = 10px (1rem)*/
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    margin: 0;
}

footer{
    background-color: black;
}

footer h3{
    color: white;
}

h1{
    font-size: 7rem;
    font-variant: small-caps;
}

.subtitle{
    font-size: 3rem;
}

h2{
    font-size: 4rem;
    color: #af4000;
}

.row{
    display: flex;
    justify-content: space-between;
}

.row_1{
    display: flex;
    justify-content: space-between;
}

.house{
    max-width: 50%;
}

.house img{
    max-width: 40rem;
}

.container{
    max-width: 70%;
    margin: 0 auto;
    padding: 2rem;    
}

.container_1{
    max-width: 70%;
    margin: 0 auto;
    text-align: right;
    padding: 2rem;    
}

header{ 
    background: url(img/1613416223_69-p-bezhevii-fon-osen-110.jpg);
}

button{
    background-color: rgb(0, 0, 0, 0);
    padding: 2rem;
    font-size: 2rem;
    font-weight: bold;
    outline: auto;
}

@media(max-width:1024px){
    main .row{
        flex-direction: column-reverse;
    }

    main .row_1{
        flex-direction: column;
    }

    main p{
        display: none;
    }
}