:root{
    font-size: 62.5%; /* базовый размер шрифта в rem. 16px * 0,625 = 10px (1rem)*/
}

body{
    font-size: 1.5rem;
    margin: 0;
}

h1{
    font-size: 4rem;
}

.row{
    display: flex;
}

.home-office{
    background-color: rgb(255, 204, 138);
}

.house{
    background-color: rgb(111, 197, 255);
    max-width: 50%;
}

.house img{
    max-width: 100%;
}