:root{
    font-size: 62.5%; /* базовый размер шрифта в rem. 16px * 0,625 = 10px (1rem)*/
    margin: 0;
}

body{
    font-size: 8rem;
}

h1{
    font-size: 150rem;
}

.row{
    display: flex;
}

.home-office{
    background-color: rgb(255, 204, 138);
}

.house{
    background-color: rgb(111, 197, 255);
}